.DS_Store
*.sw[po]
tags
TAGS
__pycache__
*.o
*.log
tempCodeRunnerFile.*
node_modules
venv

# exclude everything from tracking except fish and nvim config files
.config/*
!.config/fish
!.config/nvim

# Fish
fish_*
.config/fish/completions/
.config/fish/functions/
!.config/fish/functions/peco_*
