.DS_Store
*.sw[po]
tags
TAGS
__pycache__
*.o
*.log
.config/configstore
tempCodeRunnerFile.*
node_modules
venv

# Fish
fish_variables*
fish_plugins
__bass.py 
bass.fish 
fisher.fish

# iTerm
.config/iterm2

# Raycast
.config/raycast

# Karabiner
.config/karabiner/

# Planetscale
planetscale
